In [41]:
#pacotes necessários
from scipy import * #pacote de programação científica usando o python
from statistics import * #pacote de funções para cálculos de estatísticas matemáticas de dados numéricos (mean, median)
import pandas as pd #pacote para manipular os dataframes
import numpy as np #pacote para cálculos numéricos e científicos (std)

In [13]:
lista_notas = [8,7,7,7,7,8,5,2,4,4,10,10,10,10,4,6,7,7,7,8]
lista_idade = [10,11,12,9,10,11,10,10,10,10,11,11,10,9,10,10,11,11,10,10]

In [14]:
#calculando a média e a mediana para notas
print("A média das notas é:", mean(lista_notas))
print("A mediana das notas é:", median(lista_notas))

#calculando a média e a mediana para idades
print("A média das idades é:", mean(lista_idade))
print("A mediana das idades é:", median(lista_idade))

A média das notas é: 6.9
A mediana das notas é: 7.0
A média das idades é: 10.3
A mediana das idades é: 10.0

In [15]:
dict = {'notas': lista_notas, 'idade': lista_idade}

In [17]:
df = pd.DataFrame(dict)

In [18]:
df

    notas  idade
0       8     10
1       7     11
2       7     12
3       7      9
4       7     10
5       8     11
6       5     10
7       2     10
8       4     10
9       4     10
10     10     11
11     10     11
12     10     10
13     10      9
14      4     10
15      6     10
16      7     11
17      7     11
18      7     10
19      8     10

In [22]:
#50% inferior
#notas
mean(df.notas.sort_values(ascending=True)[0:10]) #O intervalo é *fechado*. Por isso 0:10 e não 0:9

5.3

In [23]:
#50% superior
#notas
mean(df.notas.sort_values(ascending=True)[10:20])

8.5

In [24]:
#50% inferior
#idades
mean(df.idade.sort_values(ascending=True)[0:10])

9.8

In [25]:
#50% superior
#idades
mean(df.idade.sort_values(ascending=True)[10:20])

10.8

In [26]:
#média das notas para 50% menores idades
df_ordenado_idades = df.sort_values(by=['idade'])
df_recorte_menores_idades = df_ordenado_idades[0:10]
mean(df_recorte_menores_idades.notas)

6.5

In [27]:
#média das notas para 50% maiores idades
df_recorte_maiores_idades = df_ordenado_idades[10:20]
mean(df_recorte_maiores_idades.notas)

7.3

In [53]:
#coef notas
cv_notas = np.std(lista_notas) / mean(lista_notas)
cv_notas*100

31.71894004092651

In [57]:
#coef idades
cv_idades = np.std(lista_idade) / mean(lista_idade)
cv_idades*100

6.933425658779465

In [58]:
#correlação
stats.pearsonr(df.notas, df.idade)

PearsonRResult(statistic=0.14715498922948964, pvalue=0.5358452517595163)

In [ ]:
#houve uma pequena diferença dos resultados do coeficiente padrão do programa feito em R para este, porque o método usado neste foi o Desvio Padrão Populacional, e naquele, Desvio Padrão Amostral.